default_env: &default_env

staging:
  <<: *default_env
  EPCC_ENV: "staging"
  CLUSTER_HOST: "https://xxxxxxxxxxxxxxxx.gr7.eu-west-1.eks.amazonaws.com"
  API_TOKEN: "eyJxxxxxxxxxxxxxxxxxx"

integrations:
  <<: *default_env
  EPCC_ENV: "integrations"
  CLUSTER_HOST: "https://xxxxxxxxxxxxxxxx.gr7.us-west-2.eks.amazonaws.com"
  API_TOKEN: "eyJxxxxxxxxxxxxxxxxxx"

production:
  <<: *default_env
  EPCC_ENV: "production"
  CLUSTER_HOST: ""
  API_TOKEN: ""
